
/* reset */

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

li {
    text-decoration: none;
    list-style-type: none;
}

/* base styles */
body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: var(--bg_default-dark-mode);
}

.p {
    font-size: 1rem;
}

/* mobile styles up to 320px - 480px*/

.button{
    font-size: 1rem;
    display: flex;
    align-items: center;
    padding: .6rem;
    background-color: var(--bg_default-dark-mode);
    border: 1px solid var(--lines-color-dark-mode);
    border-radius: .25rem;
    color: var(--body-text-drak-mode);
    width: 2.5rem;
}

label{
    font-size: .7rem;
    color: var(--body-text-drak-mode);
    border: 1px solid var(--lines-color-dark-mode);
    border-bottom: none;
    padding: .4rem 0 0 1rem;
    background-color: var(--bg_default-dark-mode);
}

select{
    font-size: .9rem;
    color: var(--body-text-drak-mode);
    border: 1px solid var(--lines-color-dark-mode);
    border-top: none;
    padding: 0 0 .5rem .8rem;
    background-color: var(--bg_default-dark-mode);
}

.select option {
    font-size: 3rem;
}

.vertical-space {
    padding-bottom: .75rem;
    padding-top: .75rem;
    background-color: var(--bg_body-dark-mode);
}

.header {
    padding: 1.5rem 1rem 1.5rem 1rem;
    background-color: var(--bg_default-dark-mode);
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.web-title h1{
    color: var(--brand-primary);
    font-size: 1.2rem;
    font-weight: lighter;
}

.web-controls-mobile {
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
    height: 1.8rem;
}

.web-controls {
    display: none;
}

.web-controls button:active, .web-controls-mobile button:active {
    background-color: var(--brand-primary);
    color: var(--bg_default);
}

.web-controls button ion-icon {
    margin-right: .5rem;
}

.top-page-design {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    background: linear-gradient(to right, var(--brand-primary), var(--brand-secondary))
}
.left-triangle {
    width: 0;
    height: 0;
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
    border-bottom: 2vh solid var(--bg_default-dark-mode);
    padding-bottom: 2vh;
}
.right-triangle {
    width: 500vw;
    height: .48vh;
    padding-bottom: 1.5vh;
    margin-left: -50vw;
    margin-bottom: -2vh;
    z-index: 1;
}
.welcome-title {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background-color: var(--bg_default-dark-mode);
}

.welcome-title h1 {
    color: var(--brand-secondary);
    background-color: var(--bg_default-dark-mode);
}

.welcome-title p {
    color: var(--body-text-drak-mode);
    font-size: .8rem;
    text-align: left;
    background-color: var(--bg_default-dark-mode);

}

.search-field {
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
    z-index: -1;
    box-shadow: 0 0 5px rgba(128, 128, 128, 0.5);
    border-radius: .5rem;
}



.search-fields {
    background-color: var(--bg_body-dark-mode);
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.search-box-mobile form {
    padding-right: 1rem;
    padding-top: 1rem;
}

.search-box-mobile button {

    font-size: 3rem;
    height: 2.15rem;
    padding: 0 0 0 .3rem;
    border-radius: .3rem 0 0 0;
    border-right: none;
}

.search-box-mobile button:active {
    background-color: var(--brand-primary);
    color: var(--bg_default);
}

.search-field input {
    height: 2rem;
    background-color: var(--bg_default-dark-mode);
    border: 1px solid var(--lines-color-dark-mode);
    border-radius: 0 .3rem 0 0;
    border-left: none;
    width: 90%;
}

.search-box-mobile input::placeholder {
    font-size: .8rem;
    text-align: left;
}

.search-dropdown-list {
    display: flex;
    flex-direction: column;
    width: 50%;
    color: var(--body-text-drak-mode);
}

.search-dropdown-list:first-child select {
    border-radius: 0 0 0 .5rem;
}

.search-dropdown-list:last-child select {
    border-radius: 0 0 .5rem 0;
}

.search-results {
    background-color: var(--bg_body-dark-mode);
    padding-bottom: .5rem;
}

.number-of-results {
    padding-top: 1rem;
    margin: 0 0 1rem 1rem;
    color: var(--body-text-drak-mode);
}

.search-box {
    display: none;
}

.search-results-cards {
    margin: 1rem;
}

.course-card{
    background-color: var(--bg_default-dark-mode);
    border-radius: 0.5rem;
}
.course-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15vh;
    overflow: hidden;
    margin-bottom: 1rem;
    border-radius: .5rem .5rem 0  0;
    background-color: var(--bg_default);
}

.course-image {
    width: 100%;
    height: 22vh;
    border-radius: .5rem 0 0 .5rem;
}

.card-info {
    border-radius: .5rem;
}

.course-title {
    font-size: .8rem;
    color: var(--body-text-drak-mode);
    margin-left: 1rem;
    font-weight: lighter;
}

.card-info {
    display: flex;
    flex-direction: column;
}

.language-name {
    font-size: .8rem;
    color: var(--body-text-drak-mode);
    font-weight: bold;
    margin-left: 1rem;
    margin-bottom: 1.2rem;
}

.rating-stars {
    color: #e5971b;
    margin-bottom: .75rem;
    margin-left: 1rem;
}

.author {
    color: #848484;
    padding: 1rem;
    margin-left: 1rem;
    margin-bottom: .7rem;
}


/* Small tablets and devices between 481 and 768px wide styles */
@media screen and (min-width: 481px) and (max-width: 768px) {


    .button {
        font-size: .7rem;
        border-radius: .4rem;
        width: 7rem;
    }

    .web-controls-mobile {
        display: none;
    }

    .web-controls {
        display: flex;
        flex-direction: row;
        gap: 0.3rem;
        height: 1.8rem;
    }
    .welcome-title {
        align-items: center;
    }

    .search-box-mobile {
        display: none;
    }

    .search-box {
        display: initial;
    }

    .search-box form {
        padding-top: 1rem;
        display: flex;
        align-items: center;
        padding-right: 1rem;
        padding-left: 1rem;
    }

    .search-box button {
        font-size: 3rem;
        height: 3rem;
        padding: 0 0 0 0.3rem;
        border-radius: 0.3rem 0 0 0;
        border-right: none;
    }

    .search-box .search-dropdown-list {
        width: 15%;
        height: 3rem;
        font-weight: lighter;
    }

    .search-box input {
        height: 2.9rem;
        background-color: var(--bg_default-dark-mode);
        border: 1px solid var(--lines-color-dark-mode);
        border-left: none;
        width: 90%;
    }

    .search-results-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        row-gap: 1rem;
        margin: 0;
        padding-left: 1rem;
    }

    .course-card {
        display: flex;
        flex-direction: column;
        width: 80vw;
    }
    .course-image-container {
        height: 50%;
    }

    .course-image {
        width: 100%;
        max-height: 50%;
        max-width: 30rem;
    }

    .card-info {
        height: 8rem;
    }

    .author {
        font-size: .9rem;
    }
}



/* Laptop and devices between 769px and 1200px wide styles */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .button {
        font-size: .7rem;
        border-radius: .4rem;
        width: 7rem;
    }

    .web-controls-mobile {
        display: none;
    }

    .web-controls {
        display: flex;
        flex-direction: row;
        gap: 0.3rem;
        height: 1.8rem;
    }

    .search-field input {
        width: 100%;
    }

    .welcome-title {
        align-items: center;
    }

    .search-box-mobile {
        display: none;
    }

    .search-box {
        display: initial;
    }

    .search-box form {
        padding-top: 1rem;
        display: flex;
        align-items: center;
        padding-right: 1rem;
        padding-left: 1rem;
    }

    .search-box button {
        font-size: 3rem;
        height: 3rem;
        padding: 0 0 0 0.3rem;
        border-radius: 0.3rem 0 0 0;
        border-right: none;
    }

    .search-box .search-dropdown-list {
        width: 15%;
        height: 3rem;
        font-weight: lighter;
    }

    .search-box input {
        height: 2.9rem;
        background-color: var(--bg_default-dark-mode);
        border: 1px solid var(--lines-color-dark-mode);
        border-left: none;
        width: 90%;
    }

    .search-results-cards {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        row-gap: 1rem;
        margin: 0;
        padding-left: 1rem;
    }
    .course-card {
        width: 45%;
    }

    .course-card:nth-child(n) {
        margin-bottom: 1rem;
    }

    .course-image-container {
        height: 50%;
    }
}


/* Desktop and devices wider than 1200px styles */
@media screen and (min-width: 1025px) and (max-width: 1200px) {

    .button {
        font-size: .7rem;
        border-radius: .4rem;
        width: 7rem;
    }

    .web-controls-mobile {
        display: none;
    }

    .web-controls {
        display: flex;
        flex-direction: row;
        gap: 0.3rem;
        height: 1.8rem;
    }

    .welcome-title {
        align-items: center;
    }

    .welcome-title p {
        padding-left: 10rem;
    }

    .search-box-mobile {
        display: none;
    }

    .search-box {
        display: initial;
    }

    .search-box form {
        padding-top: 1rem;
        display: flex;
        align-items: center;
        padding-right: 1rem;
        padding-left: 1rem;
    }

    .search-box button {
        font-size: 3rem;
        height: 3rem;
        padding: 0 0 0 0.3rem;
        border-radius: 0.3rem 0 0 0;
        border-right: none;
    }

    .search-box .search-dropdown-list {
        width: 15%;
        height: 3rem;
        font-weight: lighter;
    }

    .search-box input {
        height: 2.9rem;
        background-color: var(--bg_default-dark-mode);
        border: 1px solid var(--lines-color-dark-mode);
        border-left: none;
        width: 90%;
    }

    .search-field input {
        width: 100%;
    }

    .search-results-cards {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        row-gap: 1rem;
        margin: 0;
        padding-left: 1rem;
    }

    .course-card {
        max-width: 25%;
        height: 254px;
        margin-left: 1rem;
    }

    .course-card:nth-child(n) {
        margin-bottom: .5rem;
    }
}

/* Extra Large Screens */
@media screen and (min-width: 1201px)  {

    .button {
        font-size: .7rem;
        border-radius: .4rem;
        width: 7rem;
    }

    .web-controls-mobile {
        display: none;
    }

    .web-controls {
        display: flex;
        flex-direction: row;
        gap: 0.3rem;
        height: 1.8rem;
    }

    .welcome-title {
        align-items: center;
    }

    .welcome-title p {
        padding-left: 10rem;
    }

    .search-box-mobile {
        display: none;
    }

    .search-box {
        display: initial;
    }

    .search-box form {
        padding-top: 1rem;
        display: flex;
        align-items: center;
        padding-right: 1rem;
        padding-left: 1rem;
    }

    .search-box button {
        font-size: 3rem;
        height: 3rem;
        padding: 0 0 0 0.3rem;
        border-radius: 0.3rem 0 0 0;
        border-right: none;
    }

    .search-box .search-dropdown-list {
        width: 15%;
        height: 3rem;
        font-weight: lighter;
    }

    .search-box input {
        height: 2.9rem;
        background-color: var(--bg_default-dark-mode);
        border: 1px solid var(--lines-color-dark-mode);
        border-left: none;
        width: 90%;
    }

    .search-field input {
        width: 100%;
    }

    .search-results-cards {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        row-gap: 1rem;
        margin: 0;
        padding-left: 1rem;
    }

    .course-card {
        max-width: 20%;
        height: 254px;
        margin-left: 1rem;
    }

    .course-card:nth-child(n) {
        margin-bottom: .5rem;
    }

}

